.card{
    padding: 1vw;
    
}
.description{
    font-family: 'Bahnschrift', sans-serif;
    margin:0;   
}
.description h5{
    font-family: 'Shantell Sans', cursive;
    color: #181818;
    display:flex;
    flex-flow: row wrap;
    text-justify: inter-cluster;
    margin-bottom: 0;
}
.description h5::first-letter {
  text-transform: uppercase;
}
.description p{
    font-family: 'Comic Neue', cursive;
    color: #232323;
    text-shadow: 0px 0px 15px #0000;
    text-align: start;
    font-size: 1vw;
    margin: 0;
}
.to{
    text-decoration: none;
}
a{
    text-decoration: none;
    font-size:1.6vw;
   /*  text-shadow: 0px 0px 18px #000000; */
}

.banner {
    
    width: 8vw;
    height: 6.6vw;
    filter: drop-shadow(0px 1px 3px #181818);
    animation: bounce .8s infinite;
}

@keyframes bounce {
    from {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes translate {
    from {
      top: 0;
    }
    to {
      top: 10%;
    }
  }