.wra{
display: flex;
align-items: center;
justify-content: center;
font-family: 'inter', sans-serif bold ;
margin-top: 3vw;
      
}

button{

    font-size: 1vw;
    text-align: center ;
    background: #ffde00;
    color: #3b4cca;
    border: 3px solid #b3a125;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    font-family: 'comic', sans-serif bold ;
    width: 62vw;
    height: 28vw;
    border: .6vw solid #a30000; 
    border-radius: 6vw 6vw 6vw 6vw / 1.5vw 1.5vw 1.5vw 1.5vw;
    background-image: url('https://pm1.aminoapps.com/6335/5c5fa89196be9b187cdcddfa0a40e6d86c115c49_hq.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.photo {
    display: flex;
    justify-content: center;

}
.photo img{
    display: flex;
    justify-content:center;
    height: 15vw;
    width: 15vw;
    filter: drop-shadow(0px 9px 9px #232323);
    background: transparent;

}
.skills{
    
    display: grid;
    grid-template-columns: 50% 50%;
    color:#fff;
    font-family: 'Shantell Sans', cursive;
    background: rgba(23,23, 23, 0.6);
    width: 30vw;
    height: 27vw;
    border-radius: 1vw 1vw 1vw;
}
.stats{
    justify-content: flex-start;
}
.health{
    width:10vw;
}
.health h4{
    background: #cc0000;
    color:#181818;
    border-radius: 3px;
    text-align: center;

}
.defense h4{
    width:10vw;
    background: #6890f0;
    color:#181818;
    border-radius: 3px;
    text-align: center;
}
.attack h4{
    width:10vw;
    background: #f08030 ;
    color:#181818;
    border-radius: .3vw;
    text-align: center;
}
.speed h4{
    width:10vw;
    background: #f65b8a;
    color:#181818;
    border-radius: 3px;
    text-align: center;
}
.types h4{
    width:10vw;
    color:#fff;
    font-family: 'Shantell Sans', cursive;
}