.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    transform:translatex(0px) translatey(-30px);
    
    height: 100%;
}

.search{
    align-content: center;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
}
.btn{
    display: flex;
   align-items: center;
   margin-left:3vw;
   margin-top: 2vw;
   
}
.btn button{

    align-items: center;
    background: #cc0000;
    border-radius: 9px;
    border: 1px solid #3b4cca;
    width: 6vw;
    height: px;
    color: #ffde00; 
    font-size: .9vw;
    font-family: 'inter';
    text-align: center;
    cursor: pointer;
    align-items: center;
    margin-right: 1vw;

}
header{
    display: flex;
    align-items: center;
    height: 9vw;

}
header .order{
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 50vw;
    height: 30px;
    align-items: center;
    text-align: start;    
    }
    
h1{ 
    font-size: 3vw;
    font-family: 'comic', sans-serif bold ;
    background: #ffde00;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-stroke: 3px #3b4cca;     
    cursor: pointer;
    text-align: center;  
}
    h1::first-letter{
        font-size: 4vw;
    }
    .title{
        display: flex;
        flex-direction: column;
    }
    .sort{
        
        margin-left: 1vw;
        margin-top: 3vw;
        display:flex;
        flex-direction: row;
        align-items: center;
        color:#ffde00;
        font-family: 'Shantell Sans', cursive;
        font-size: 1vw;
        justify-content: space-be;
    
    }
    
    .cards{
        
        background: linear-gradient(137.98deg, #FFFFFF 13.38%, #E9E0FF 29.09%, #CFCCFA 61.72%, #C7E0FF 82.21%);
        display: grid;
        grid-template-columns: 16.6666666667% 16.6666666667% 16.6666666667% 16.6666666667% 16.6666666667% 16.6666666667% ;
        
        margin-top: 3.3vw;
        width: 69vw;
        height: 28vw;
        border: .6vw solid #a30000; 
        border-radius: 6vw 6vw 6vw 6vw / 1.5vw 1.5vw 1.5vw 1.5vw;  
    }
    .contNav{
        display: flex;
        margin-left: 15vw;
        align-items: center;
    
    }
select{
    margin-left: 0.9vw;
    background-color: #cc0000;
    border: transparent;
    font-size: 1vw;
    font-family: 'Comic Neue', cursive;
    color: #ffde00;
    cursor: pointer;
}

