.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.cont img{
    display: flex;
    justify-content: center;
        margin-top: 10vw;
        width: 62vw;
        height: 27vw;
        border: .6vw solid #a30000; 
        border-radius: 6vw 6vw 6vw 6vw / 1.5vw 1.5vw 1.5vw 1.5vw;  
}

.init{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vmin; 
}