.open{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.open img{
    margin-top: 10vw;
    width: 62vw;
    height: 27vw;
    border: .6vw solid #a30000; 
    border-radius: 6vw 6vw 6vw 6vw / 1.5vw 1.5vw 1.5vw 1.5vw;   
}
