.search{    
display: flex;
flex-direction: row;
align-items: center;
margin-top: 60px;
margin-left: 1vw;
}

.search button{
    background: #ffde00;
    border-radius: 15px;
    border: 1px solid #b3a125;
    cursor: pointer;
    height: 1.5vw;
    width: 3.5vw;
    
    margin-left: 9px;
    font-family: 'Anybody', cursive;
    font-size: .8vw;
    font-style: bold;
    text-align: center;
    color: #021855;
    margin-bottom: 9px;
    
    }
.search input {
    height: 3vw;
    width: 30vw;
    background: #FFFFFF;
    border: 1px solid #3b4cca;
    
    border-radius: 25px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1vw;
    color: #021855 ;
}